* {
    font-family: "Arial", sans-serif;
    background-color: turquoise;
}

li {
    color: blue;
}

h2 {
    color:red;
}

img {
    width: 300px;
    height: auto;
}

h1,
p {
    color: green;
}

p {
    font-weight: bold;
}